h3 {
    text-align: center;
}

form, section {
    background-color: gainsboro;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#label1, #label2, #button {
    display: inline-block;
}

#label1, #label2 {
    width: 45%;
}

#select {
    width: 40%;
}
    
table {
    border: medium solid;
    width: 100%;
    }

td, th {
    border: thin solid;
    width: 30%;
    text-align: center;
    }